html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

/*banner / menu */
.image-container {
    width: 100vw; /* Prend toute la largeur de la fenêtre */
    height: 200px; /* Définir la hauteur fixe de l'image */
    overflow: hidden; /* Empêche l'image de déborder */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    position: relative;

    /* Utilisation de background-image pour l'image (via inline style) */
    background-position: center; /* Centre l'image dans le conteneur */
    background-size: cover; /* L'image couvre toute la zone en gardant ses proportions */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
}


.menubarre {
    background-color: #e99b76;
    border-top: 4px solid #c462a1;
    border-bottom: 4px solid #c462a1;
    display: flex; 
    justify-content: center;    
    align-items: center;
    width: 100%; 
    gap: 15px; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}
.img-logo-menu {
    border: solid 1px #333;
    border-radius: 50%;
    background-color: antiquewhite;
    width: 65px;
    height: auto;
    position: absolute;
    left: 40px;
}
.logo-text {
    position: absolute;  
    left: 115px;         
    font-size: 1.3rem;
    text-shadow: 1px 1.3px 2px rgb(0, 0, 0);
    font-family: 'sriracha';      /*    Links dans Head du Base.blade.php  !retenir le nom du fonts ! */
    font-weight: bold;
    color: white;        
}
.menu {
    text-decoration: none;
    color: white;
    background-color: #ba4390; 
    padding: 10px 20px;
    margin: 15px 10px 15px;
    border: solid 2px rgb(213, 131, 0);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.menu:hover {
    background-color: #8c1462 
}
.joining {
    position: absolute;  
    text-align: center;
    right: 75px;         
    font-size: 1.3rem;
    text-shadow: 1px 1.3px 2px rgb(0, 0, 0);
    font-family: 'sriracha';      /*    Links dans Head du Base.blade.php  !retenir le nom du fonts ! */
    font-weight: bold;
    color: white;        
}


/* page generique */

body {
    background-color: #333;
}


/*footer ci-dessous*/

footer {
    display: block;
    width: 100%;
    background-color: burlywood; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;          
}
.social-links {
    list-style-type: none; /* Retirer les puces de la liste */
    margin: 0;
    padding: 0;
    display: flex;      
    gap: 20px;        
}
.links {
    text-decoration: none;
    color: #333;          
}
.mentions {
    text-decoration: none;
    font-size: small;
    color: white;
    background-color: #ba4390; 
    margin: 0px 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.mentions:hover {
    background-color: #8c1462; 
}


/* Responsive Panel*/
@media (max-width: 1200px) {
    .logo-text {
        display: none;    
    }
    .joining {
        display: none;    
    }
}

@media (max-width: 768px) {
    .img-logo-menu, .logo-text {
        display: none;     /* Cacher le logo et le texte quand la largeur de l'écran est inférieure à 768px */
    }
}
@media (max-width: 480px) {
    .menubarre {
        gap: 0px;
    }
    .menu{
     padding: 10px 10px;
    margin: 5px 5px 5px;
    }
}