.image-container{
    width: 100vw; 
    height: 200px; 
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items:center;
    position: relative;
}
.gym-name {
    position: absolute;
    color: white; 
    font-size: 1.2cm;
    text-align: center; 
    z-index: 10;   /*text au dessus de image !! */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}
.menubarre {
    background-color: burlywood;
    border-top: 4px solid rgb(213, 131, 0);
    border-bottom: 4px solid rgb(213, 131, 0);
    display: flex; 
    justify-content: center;    
    width: 100%; 
    gap: 15px; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}
.menu {
    text-decoration: none;
    color: white;
    background-color: #007bff; 
    padding: 10px 20px;
    margin: 15px 10px 15px;
    border: solid 2px rgb(213, 131, 0);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.menu:hover {
    background-color: #0056b3; 
}

/* page generique */

body {
    background-color: #333;
}


/*footer ci-dessous*/

footer {
    display: block;
    width: 100%;
    background-color: burlywood; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;          
}
.social-links {
    list-style-type: none; /* Retirer les puces de la liste */
    margin: 0;
    padding: 0;
    display: flex;      
    gap: 20px;        
}
.links {
    text-decoration: none;
    color: #333;          
}
.mentions {
    text-decoration: none;
    font-size: small;
    color: white;
    background-color: #007bff; 
    margin: 0px 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.mentions:hover {
    background-color: #0056b3; 
}