body {
    font-family: ;
}

.background-image-container {
    position: relative;
    width: 100vw; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.left-white-box {
    position: absolute;
    top: 50%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    width: 350px; 
    height: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.758); 
    border: solid 1px;
    border-color: rgba(0, 255, 213, 0.408);
    box-shadow: 0 4px 8px rgb(202, 202, 202);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.left-white-box p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5em;

}

.left-white-box h2 {
    color: black;
}

.right-text {
    width: 450px;
    position: absolute;
    color: black;
    font-size: 1.3rem;
    line-height: 1.5em;    
    top: 66.5%; 
    left: 75%; 
    transform: translate(-50%, -20%); 
    text-align: left;

    /* Style de la box comme .long-white-box */
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.804); 
    border-radius: 15px;
    border: solid 1px;
    border-color: rgba(0, 255, 213, 0.408);
    box-shadow: 0 4px 8px rgb(202, 202, 202); 
    z-index: 10; /* Assure qu'elle soit visible par-dessus les images */
}


/* 2nd section / coming 2nd background */
.long-white-box {
    position: absolute;
    top: -15vh; 
    left: 25%;
    transform: translate(-50%, -0%); 
    width: 350px; 
    height: auto; 
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.804); 
    border-radius: 15px;
    border: solid 1px;
    border-color: rgba(0, 255, 213, 0.408);
    box-shadow: 0 4px 8px rgb(202, 202, 202); 
    text-align: center;
    z-index: 10; /* S'assure qu'elle soit visible par-dessus les images */
}

.long-white-box p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5em;    
}

.long-white-box h2 {
    color: black;
}


/* Responsive Design */

@media (max-width: 768px) {
    /* Réorganisation des éléments en colonne */
.right-text, .left-white-box, .long-white-box {
    position: relative;
    width: 70%;  /* Plus large sur petits écrans */
    margin: 0px auto;  /* Centre les éléments */
    left: auto;
    top: auto;
    transform: none;
}

/* Ajustement des tailles de texte */
.right-text {
    background-color: rgba(255, 255, 255, 0.758);
    border: solid 1px rgba(0, 255, 213, 0.408);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    padding: 15px; /* Ajoute du padding pour l'espacement */
    text-align: center; /* Centrer le texte */
    /* pas besoin de ces marges car margin est déjà appliqué plus haut */
}

.left-white-box, .long-white-box {
    font-size: 1.2rem;
}

.left-white-box p, .long-white-box p {
    font-size: 1.2rem;
}

/* Ajustement des marges entre éléments */
.left-white-box {
    margin-top: 10px;
}

   .long-white-box {
       margin-bottom: 20px;
    }
}