.background-image {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh; 
}

.tarifs {
    padding-top: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
/* boite tarif asso*/
.asso-box1 {
    align-items: center;    
    width: 350px;
    margin: 10px;
}

.asso-box2 {
    align-items: center;    
    width: 350px;
    margin: 10px;
    margin-bottom: 50px;
}

.assotarif {
    background-color: #c48ef1;     /*a modidier  pour exemple  */
    color: rgb(0, 0, 0);
    border: solid 2px #8c1462;
    border-radius: 15px; 
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* boites : seance et abo*/
.seance-container, .abo-container {
    width: 100%;
    display: flex; 
    gap: 20px;
    margin: 0px 0px 20px;
}

.seances, .abo {
    background-color: #F0C1E1;       /*a modidier   poiur exemple */
    color: rgb(0, 0, 0);
    border: solid 2px #8c1462;
    border-radius: 15px;
    margin: 5px;
    width: 100%;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tarifs h2 {
    margin: 3px;
    color: #333;   
}

.seances h2, .abo h2 {
    margin: 3px;
    font-size: 15px;
    color: #333;
}


.seances:hover, .abo:hover, .assotarif:hover {
    transform: scale(1.05); /* Légère augmentation de la taille */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
    transition: transform 0.3s, box-shadow 0.3s;
}


